html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #212121;
  --primary-light: #484848;
  --primary-dark: #000000;
  --primary-contrast-text: #ffffff;

  --secondary: #fafafa;
  --secondary-light: #ffffff;
  --secondary-dark: #c7c7c7;
  --secondary-contrast-text: #000000;
}
